:root {
  --padding-main: 40px;
  --color-main: #2ed573;
  --color-black: #222;
  --color-grey: #555;
  --color-light-grey: #c8c8c8;
  --container-width: 800px;
  --color-background: #edeef0;
  --color-background-alt: #f5f6fa;
}


/* Main */
body {
  margin: 0 auto;
  background-color: var(--color-background);
  overflow-x: hidden;
}
nav {
  z-index: 999;
  position: relative;
}
@media only screen and (max-width: 800px){
  nav {
    padding-bottom: 20px !important;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Gabarito', cursive;
  outline: 0;
}

/* Scoll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-light-grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-main);
}

/* Page Animation */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-main);
  transform-origin: center;
}


/* Padding & Margins */

.p-m-reset {
  padding: 0px;
  margin: 0px;
}

.p-lr-main {
  padding: 0px var(--padding-main);
}

.p-all-main {
  padding: var(--padding-main);
}

.p-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px; 
}

.p-tb-main {
  padding: var(--padding-main) 0px;
}

.p-tb-main-2 {
  padding: calc(var(--padding-main) * 2) 0px;
}

.p-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-30 {
  padding-bottom: 30px;
}

/* Widths & Height */
.w-100 {
  width: 100%;
}

.mw-50 {
  width: calc(50% - 50px);
}

.mw-30 {
  width: calc(30% - 20px);
}

.min-w-200 {
  min-width: 200px;
}

.mh-50 {
  min-height: 50px;
}

@media only screen and (max-width: 800px){
  .mw-50,
  .min-w-200 {
    width: 100%;
  }
}

.mw-container {
  max-width: var(--container-width);
  width: 100%;
}

@media only screen and (max-width: 800px){
  .mw-container {
    padding: 0px 20px;
  }
}

.mw-300 {
  max-width: 300px;
}


/* Layout */
.flex {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px){
  .flex-mob-jc-c {
    justify-content: center !important;
  }
}

.flex-dir-col {
  flex-direction: column;
}

.flex-g-20 {
  gap: 20px;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.center {
  margin: 0 auto;
}

.flex-d-rr {
  flex-direction: row-reverse;
}

/* Text */
.td-no {
  text-decoration: none;
}

.c-main {
  color: var(--color-main);
}

.c-grey {
  color: var(--color-grey);
}

.c-l-grey {
  color: var(--color-light-grey);
}

.c-white {
  color: white;
}

.h-black:hover {
  color: var(--color-black);
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.lh-30 {
  line-height: 30px;
}

.fs-13 {
  font-size: 13px;
}

.fs-48 {
  font-size: 48px;
}

.fs-30 {
  font-size: 30px;
}

/* Backgrounds */
.bg-tomato {
  background: tomato;
}

.bg-main {
  background-color: var(--color-background-main);
}

.bg-green {
  background-color: #2ecc71;
}

.bg-alt {
  background-color: var(--color-background-alt);
}

.bg-main-a {
  background-color: var(--color-main);
}

/* Positions */
.p-f {
  position: fixed;
}
.p-r {
  position: relative;
}
.p-b-0 {
  bottom: 0;
} 
.p-b-hide {
  bottom: -300px;
}

/* Transitions */
.trns-ease {
  transition: .4s ease;
}

/* Borders */
.b-reset {
  border: 0;
}

.br-40 {
  border-radius: 40px;
}

.br-10 {
  border-radius: 10px;
}

.b {
  border: 2px solid rgba(0,0,0,0.2);
}

.b-foc:focus {
  border-color: var(--color-main);
}

/* Cursor */
.pointer {
  cursor: pointer;
}

/* Loader */
.loader {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  border: 5px solid rgba(255,255,255,0.3);
  border-left: 5px solid white;
  margin: 0 auto;
  animation: spin .5s infinite ease;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}